* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:  #d4d4d4;
}

html {
  font-size: 72.5%;
}

body {
  background-color: #0e0e0e;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20px;
    margin: -15px;
}

.header h1{
    background-color: #bd0000;
    padding: 5px;
    border-radius: 5px;

}

.card {
  margin: 20px auto;  
  background: rgb(123, 9, 172);
  background: linear-gradient(
    54deg,
    rgba(123, 9, 172, 1) 0%,
    rgba(82, 17, 161, 1) 37%,
    rgba(117, 10, 152, 1) 52%,
    rgba(81, 29, 126, 1) 72%,
    rgba(72, 33, 156, 1) 100%
  );
  padding: 20px;
  width: 1000px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2{
    margin-top: 20px;
}

.border {
  border: 1px solid white;
  padding: 20px 30px;
}

.corpo{
    padding: 20px;
}

.atividades {
  margin-left: 50px;
}

.perfil {
  margin-left: 50px;
}

.front{
  background-color: #350072;
  position: absolute;
  width: 1000px;
  margin-left: -71px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.relative{
  position: relative;
  margin-left: 71px;
}

.back{
  margin-top: 208px;
}

ul li{
    font-size: 20px;
    font-weight: 500;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}

.email{
  background-color: #9c1212;
  color: white;
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 5px;
}